# example
port: 4222
net: demon.me 
 
http_port: 8222 
 
authorization {
 user:   demon
 password: T0pS3cr3t
 timeout: 1
}
 
cluster {
 
 host: '127.0.0.1' 
 port: 4244    
 
 authorization {
  user: route_user
  password: T0pS3cr3tT00!
  timeout: 0.5
 }
 
 # Routes are actively solicited and connected to from this server.
 # Other servers can connect to us if they supply the correct credentials
 # in their routes definitions from above.
 routes = [
  nats-route://user1:pass1@127.0.0.1:4245
  nats-route://user2:pass2@127.0.0.1:4246
 ]
}
 
# 日志选项
debug:  false
trace:  true
logtime: false
log_file: "/tmp/nats.log"
 
# PID进程文件
pid_file: "/tmp/nats.pid"
 
# 一些系统属性
 
# 客户端最大连接数≈
max_connections: 100
 
# 最大协议控制行
max_control_line: 512
 
# 最大的有效负载
max_payload: 65536
 
# 慢消费者阀值
max_pending_size: 10000000
